# Python files

*.pyc

.pypirc



#Docs

/docs/_*

#Data


# Distribution
.idea
bin/

build/

develop-eggs/

dist/

eggs/

lib/

lib64
/
parts/

sdist/

var/

*.egg-info/

.installed.cfg

*.egg

.coverage